.showcase-about .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.image {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.image img {
  width: 70%;
  margin: auto;
  border-radius: 50%;
}

#about .ctas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
}

#about .ctas .btn-primary {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

@media (max-width: 995px) {
  #about,
  #skills,
  #contact {
    height: auto !important;
    padding-bottom: 5rem !important;
  }

  .showcase-about .details {
    height: auto;
  }

  .image img {
    border: 2px solid var(--primary-color);
    width: 60%;
  }
}

@media (max-width: 750px) {
  .showcase-about .details {
    height: auto;
  }
}

@media (max-width: 600px) {
  .showcase-about .wrapper {
    width: calc(100% - 0.5rem) !important;
  }

  #about .ctas {
    /* width: 100%; */
  }
}
